{% extends 'base.html.twig' %}

{% block title %}boxeur{% endblock %}

{% block body %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">numeros</th>
            <th scope="col">NOM</th>
            <th scope="col">PRÉNOM</th>
            <th scope="col">CLUB</th>
            <th scope="col">PAYS</th>
            <th scope="col">CATÉGORIE</th>
            <th scope="col">PALMARES</th>
            <th scope="col">PHOTO</th>
            <th scope="col">MANAGER</th>

        </tr>
    </thead>
    <tbody>

        </tr>
        <tr class="table-dark">
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>

{% endblock %}