{% extends 'base.html.twig' %}

{% block title %}boxeur{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="row align-items-center mt-4">
        <div class="col-4">
            <img src="img/Capture d’écran du 2023-05-31 11-46-21.png" alt="">
        
        <div class="col-6 mt-4">
            <h1>MATCHMACKING BOXING</h1>

    
            <p>
                matchmaking  est  un site qui vous permez d avoir  accés  a  une base de données complete avec  des boxeurs pour  vos  gala 
            </p>
        </div>
        </div>
        
    </div>




    {% endblock %}